# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# output
*.ind
*.seg

*.sdf
*.pdb
*.idb
*.log
*.tlog
*.sbr
*.opensdf

#data file
*.ply
*.bak
*.csv

#latex temporary file
*.aux
*.bbl
*.blg
*.log
*.ps
*.tfm
*.dvi

#zip file
*.zip
*.gz